*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans',sans-serif;
    box-sizing: border-box;
}
.about{
    width:100%;
    padding:78px 0px;
    background-color:aliceblue;
}
.about img{
    height: auto;
    width: 420px;
    border:2px solid rgb(9, 230, 238);
    box-shadow: 0 0 5px rgb(9, 230, 238),
                0 0 25px rgb(8, 230, 228);
    

}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h5{
    color:rgb(9, 230, 238);
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;

}


.about-text p{
    color:burlywood;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 25px;
    margin-bottom: 45px;
}
#item{
    
    padding: 7px 15px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color:rgb(15, 166, 171);
    border-radius: 5px;
    border: 2px solid rgb(9, 230, 238); 
}
#item:hover{
    color:white;
    background-color: rgb(9, 230, 238);
   
  }
